page-home {

    ion-col {
      display: flex;
      justify-content: center;
    }

    ion-title {
        text-align: center;
      }

      ion-card {
        position: relative;
        text-align: center;
        margin-left: 1px;
        margin-right: 1px;
      }

      ion-card {
        border-top: 4px solid  #34495e;
     }

     ion-icon {
      font-size: 30px; //Preferred size here
      color:  #5499c7;
  }

  .card-md p{
    font-size: 1rem;
    line-height: 1;
    margin: 0 0 0px;
    font-weight: bold;
  }

}
